.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #dddddd;
}

.index {
  font-size: 9px;
  line-height: 1;
  font-weight: 700;
}
