@use 'variables' as variables;

html,
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: variables.$gilroy;
}

p,
span,
input,
textarea {
  font-family: variables.$roboto;
  font-size: variables.$main-text-size;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

input,
textarea {
  border: none;
  outline: none;
  background-color: transparent;
}
