@use 'variables' as variables;

html,
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
}

h1,
h2,
h3 {
  font-family: variables.$gilroy;
}

p,
span,
input,
textarea {
  font-family: variables.$roboto;
  font-size: variables.$main-text-size;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

input,
textarea {
  border: none;
  outline: none;
  background-color: transparent;
}

img {
  max-width: 100%;
}

.page-enter {
  opacity: 0;
}
.page-enter-active {
  opacity: 1;
  transition: opacity 5000ms;
}
.page-exit {
  opacity: 1;
}
.page-exit-active {
  opacity: 0;
  transition: opacity 5000ms;
}
