$roboto: 'Roboto', sans-serif;
$gilroy: 'Gilroy', sans-serif;

// Colors

$base0: #000000;
$base1: #ffffff;

$shade20: #dddddd;
$shade40: #a9a9a9;
$shade50: #82786a;

$easy: #2fb65d;
$medium: #eb8a31;
$hard: #eb3c31;

//Typography

$title-lvl-1: 64px;
$title-lvl-2: 40px;
$title-lvl-3: 24px;

$main-text-size: 16px;
