.container {
  display: flex;
  align-items: center;
  & > *:first-child {
    margin-right: 8px;
  }
  span {
    text-transform: capitalize;
  }
}

.easy {
  color: #2fb65d;
}

.medium {
  color: #eb8a31;
}

.hard {
  color: #eb3c31;
}
